@model EpamBlog.ViewModels.Article
@using EpamBlog.Helpers;

@{
    ViewBag.Title = Model.Name;
}
<div class="row no-margin-bot">
    <div class="col s7 push-s1">
        <div id="main-body" class="card">
            <div class="row"></div>
            <div class="row">
                <div class="col s2 push-s1">
                    <img src="~/Content/Images/article-image.png" height="100" width="100" alt="" class="circle responsive-img">
                </div>
                <div class="col s8 push-s1 centralized">
                    <p class="flow-text black-text">@Model.Name</p>
                    <hr class="colored-hr no-margin-vert" />
                </div>
            </div>
            <div class="row"></div>
            <div id="article_target" class="row">
                <div class="col s10 push-s1">
                    <div class="row">
                        <div class="col s12">
                            @Html.WriteHtml(Model.Text.Replace("\r\n", "<br>"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 push-s8">
                            <p class="flow-text sub-welcome-text right-align">@Model.Date</p>
                        </div>
                    </div>
                    <p class="flow-text welcome-text centralized">Comments</p>
                    <hr class="colored-hr no-margin-vert" />
                    <ul class="collapsible z-depth-0 no-margin-vert" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header centralized write-article-header">
                                <span class="flow-text write-article-text">Write a comment</span>
                            </div>
                            <div class="collapsible-body centralized">
                                @Html.Partial("../Comment/Partials/FormForComment", Model.NewComment)
                            </div>
                            <div id="comment_target" class="row centralized">
                                @Html.Partial("../Comment/Partials/DisplayComments", Model.Comments)
                            </div>
                        </li>
                    </ul>
                    <hr class="colored-hr no-margin-vert" />
                    <div class="row">
                    <p class="flow-text tag-text centralized">
                        @if (Model.Tags != null)
                        {
                            foreach (var tag in Model.Tags)
                            {
                                <a href="~/Home/Search?tag=@tag" class="main-color-text tag-item">@(tag)</a>
                                <span class="flow-text">  </span>
                            }
                        }
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s3 push-s1">
        <div class="row">
            @Html.Partial("../Partials/LoginBlock")
        </div>
        <div class="row">
            <div id="right-sidebar" class="card centralized">
                <div class="row"></div>
                <p class="card-title flow-text">Menu</p>
                <div class="collection with-header">
                    @Html.RouteLink("Home", new { controller = "Home", action = "Index" }, new { @class = "collection-item" })
                    @Html.RouteLink("Reviews", new { controller = "Reviews", action = "Index" }, new { @class = "collection-item" })
                    @Html.RouteLink("Quize", new { controller = "Quize", action = "Index" }, new { @class = "collection-item" })
                </div>
            </div>
        </div>
    </div>
</div>